<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inscription</title>
    <link rel="stylesheet" href=" {{url_for('static', filename='css/inscription.css')}} ">

</head>
<body> <div class="f1"></div>
    <form action="/register" method="post" class="pri"> 
            <div class="moi2">
                <!--  -->
                <div class="cont"> 
                    <div class="conne"><h4>CONNEXION</h4></div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages  %}
                        
                            {% for message in messages %}
                            <p style="color: rgb(255, 13, 0);list-style-type: none; font-size: 0.5rem;"> {{message}} </p> 
                            {% endfor %}
                    
                    {% endif %}
                {% endwith %}
                    <input type="email" name="email" placeholder="Adresse e-mail" id="" required>
                    <input type="password" placeholder="Mot de passe" name="password" id="" required>
                    <p class="pppp" style="position: relative;justify-content: center;text-align: center;top: -14px; font-size: 12px;">vous avez un compte connectez-vous? <a href="{{'register'}}">ici</a></p>
                    <button class="envoie" type="submit">Créer un compte</button>
                </div>
            </div>
    </form> 
</body>
</html>
